.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
.idea/
.gradle/
local.properties
key.properties
*.jks
*.keystore
android/app/google-services.json
ios/
macos/
web/
linux/
windows/
coverage/
